<!DOCTYPE html>

<html>
  <head> 
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/java.js"></script>
</head>
  <body>
    <div class="main-content">
    {{>header}}
    <h1>{{title}}</h1>
    <h2>Hello You!!!</h2>
    <p>{{name}}</p>
    <img src="/image/img1.jpg" />
    </div>
    {{>footer}}
  </body>
</html>
